@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

@layer base {
  @font-face {
    font-family: "Anton SC";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/AntonSC-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "ProductSans";
    font-weight: 400;
    src: url(./assets/fonts/ProductSans-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "ProductSans";
    font-weight: 700;
    src: url(./assets/fonts/ProductSans-Bold.woff2) format("woff2");
  }
}
@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/*? the rotating thing behind profile image */
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.rainbow-shadow {
  transform: translate(-50%, -50%);
  background: conic-gradient(
    #ff8885,
    #ffc67e,
    #fafe8e,
    #a8fe96,
    #77effd,
    #7caafd,
    #9e8bfd,
    #ff9dfb
  );
  animation: rotate 5s linear infinite;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

/*? carousel section */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.infinite-carousel {
  display: flex;
  width: 200%;
  animation: slide 15s linear infinite;
}
/*? Gradients for project section */
.radial-gradient-purple {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(15, 133, 39, 0) 100%
  );
}
.radial-gradient-green {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #a8fe96 0%,
    rgba(15, 133, 39, 0) 100%
  );
}
.radial-gradient-light-blue {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #77effd 0%,
    rgba(15, 133, 39, 0) 100%
  );
}
.radial-gradient-yellow {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fafe8e 0%,
    rgba(15, 133, 39, 0) 100%
  );
}
.infinite-carousel-testimonial {
  display: flex;
  width: 500%;
  animation: slide 4s linear infinite;
}
